.main {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;
  justify-content: center;
  &__item {
    margin-bottom: 2px;
  }
}

@media (max-width: 1024px) {
  .main {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}
